:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --navbar-height: 80px;
}

.texte-style {
  font-weight: 800;
  color:#0f0e0e;
}

strong {
  font-weight: 800;
  color:#0f0e0e;  
}

p,li{
  font-family: "Libre Franklin", sans-serif;
}

h1 {
  font-family: "Lobster", static;
  font-weight: bold;
  color:#0f0e0e;
}

h2, h3 {
  font-family: "Exo2", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  background:/*#f2f0e6*/ /*#FFF9F2*/white;
  font-family: "Libre Franklin", sans-serif;
}

* {
  box-sizing: border-box;
}


html {
  scroll-padding-top: var(--navbar-height);
}

.screen {
  min-height: 100vh;
  padding-top: var(--navbar-height); /* si navbar fixe */
}

.screen > .inner-grid {
  height: calc(100vh - var(--navbar-height));
  display: grid;
}

#apropos-wrapper,
#bts-wrapper,
#contact-wrapper,
#veille-wrapper {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

#apropos section,
#bts section,
#contact section,
#veille section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}  

* {
  box-sizing: border-box;
}

.box {
  /* background: #565656; */
  color: white;
  margin: 0;
  padding: 0;
}

#Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 1000;
  background-color: #050505;
  color: white;
   padding: 0 1.5rem;
}

#Navbar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

#Navbar a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* FOOTER*/

#footer {
  min-height: 20vh;
  max-height: 35vh;
  scroll-snap-align: none;
  display: grid;
  background: /*#141414*/#050505;
}

#footer .inner-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.5fr;
  grid-template-areas:
      "Contenu1-footer"
      "Contenu2-footer";
}

#Contenu1-footer { grid-area: Contenu1-footer; }
#Contenu2-footer { grid-area: Contenu2-footer; }

p {
  white-space: normal;
}

#Contenu1-footer {
  background: /*#141414*/#050505;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
}

#Contenu1-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#Contenu1-footer #navbar-footer ul {
  display:flex;
  gap: 0.5rem;
  flex-direction: column;
}

#Contenu1-footer #navbar-footer-row {
  border: 2px solid #fff9fc;
  padding: 1rem;
  padding-right:2rem;
  border-radius: 5px;
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

#Contenu1-footer ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#Contenu1-footer ul li a {
  text-decoration: none;
  color: white;
}

#Contenu1-footer h2 {
  margin-top: 35px;
  margin-bottom: 10px;
  color: #A2023F;
}

#Contenu2-footer {
  background: /*#141414*/#0f0e0e;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.svg-footer img {
  width: 35px;
  height: 45px;
  filter: brightness(0) invert(1);
  margin-right: 1rem;
}

#veille.screen {
  min-height: 100vh;
  scroll-snap-align: start;
}

#footer.screen {
  min-height: 20vh;
  max-height: 35vh;
  scroll-snap-align: end;
}

/* .modal-content iframe,
.modal-content embed {
  width: 100%;
  height: 100%;
  flex: 1;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000; 
}

.modal:target {
  display: flex;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 1200px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
}

.modal-content iframe {
  flex: 1;           
  width: 100%;
  border: none;
}

.modal-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
}
