#veille-wrapper {
  height: 100vh;          
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

#veille, #veille section {
  min-height: 100vh; 
  scroll-snap-align: start; 
}

#footer {
  min-height: 30vh;
  scroll-snap-align: end; 
}

#veille h2 {
    font-size: 1.6rem;
    color :#ffffff;
    text-align: center;
    width: 100%;
    margin: 20px 0px 18px 0px;
    background: #920239;
    padding: 1rem;
}

